* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  border: black solid 3px;
  width: 800px;
  margin: 50px auto;
}

header {
  background-color: #f4f4f4;
}

header h1 {
  text-align: center;
  font-weight: none;
  font-size: 26px;
  /* margin: 0; */
  padding: 15px;
}

article h3 {
  text-transform: uppercase;
  padding: 15px 0;
}

ul {
  padding-left: 20px;
}

li {
  padding-bottom: 10px;
}

a {
  color: rgb(104, 103, 103);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.add-cart {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  background-color: white;
  color: black;
  width: 100%;
  border-top: 3px solid black;
}

.price {
  font-size: 26px;
}

.shipping {
  color: rgb(104, 103, 103);
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.desc {
  padding: 10px 0;
}
